@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');

body {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFFFFF;
    grid-column: 3/ span 4;
    grid-row: 2;
    font-size: 90px;
}

#theGrid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr 1fr; 
    height: inherit;
    background-color: rgba(0, 0, 0, 0.25);
}

#countdownDisplay {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr 0.25fr 120px;
    grid-template-rows: 1fr 1fr;
}

.clock {
    font-size: 100px;
    color: #FFFFFF;
}

.colon {
    font-size: 100px;
    color: #96C8EB;
}

.units{
    color: #96C8EB;
    font-size: 30px;
}

.hourDisplay {
    grid-column: 1;
    text-align: end;
}

.minuteDisplay {
    grid-column: 3;
    text-align: center;
}

.secondDisplay {
    grid-column: 5;
    text-align: start;
}
  
#quote{
    color: #FFFFFF;
    grid-column: 8 / 11;
    grid-row: 5;
    justify-self: end;
    text-align: right;
    font-size: 20px;
}

#quoteSource {
    color: #FFFFFF;
    grid-column: 10;
    grid-row: 6;
    text-align: right;
}

@media screen  and (max-width: 930px){
    h1 {
        font-size: 60px;
    }

    #quote{
        grid-row: 6;
        grid-column: 3 / 11;
    }

    #quoteSource {
        grid-row: 7;
        font-size: 12px;
    }
}
