@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');

body {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.just-for-today {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.top-section {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #FFFFFF;
    text-align: right;
    opacity: 0;
    animation: QuoteAnimation;
    animation-duration: 3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    max-width: 600px;
    font-size: 30px;
}

.title {
    color: #FFFFFF;
    grid-column: 3/ span 5;
    grid-row: 1;
    font-size: 55px;
}

.countdown-wrapper {
    margin-top: 30vh;
    text-align: center;
    color: #FFFFFF;
}

.countdown {
    display: flex;
    margin-bottom: 15px;
}

.clock {
    font-size: 50px;
    color: #FFFFFF; 
}

.colon {
    font-size: 50px;
    color: #96C8EB;
}

.units{
    color: #96C8EB;
    font-size: 20px;
}

.brand-banner {
    grid-row: 7;
    grid-column: 2 / 11;
    background: #804D74;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    padding: 5px 20px;
    border-radius: 4px;
    height: 20px;
    margin-top: 10px;
}

.brand-banner a {
    color: white;
}

@keyframes QuoteAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
    }
  }

@media screen  and (max-width: 930px){
    .title {
        font-size: 35px;
    }
}
